#onglets{
	display: none;
}
#onglets li{
	position: relative;
	float: left;
	list-style: none;
	padding: 2px 5px 7px;
	margin-right: 5px;
	border: 5px solid;
	border-color: #001040;
	cursor: pointer;
	background-color: #c1c1ff;
	z-index: 1;
	width : 14.3%;
	text-align: center;
}
#onglets li:hover{
	background-color: #b34700;
	color: #F5F5F5;
}
#onglets .actif{
	border-bottom: none;
	font-weight: bold;
	z-index: 10;
	background-color: #F5F5F5;
	color: black;
}
#onglets .actif:hover{
	background-color: #F5F5F5;
	color: black;
}
#contenu{
	clear: both;
	position: relative;
	margin: 0 20px;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
/*	border: 5px solid;
	border-color: #c1c1ff;*/
	z-index: 5;
	top: -6px;
	background-color: #F5F5F5;
	overflow: hidden;
	border-radius: 15px;
	height: 430px;
	overflow: auto;
	font-size: 14px;
}
body{
	width : 80%;
	margin-left:auto;
	margin-right: auto;
	background-color : #001040;
	font-family : century gothic, arial;
}
h1{
	text-align: center;
	font-family : agency fb, century gothic, arial;
	font-weight: bold;
	font-size : 35px;
	color: #F5F5F5;
}
p{
	text-align : justify;
}
h3{
	font-weight: bold;
	font-size : 15px;
	color:black;
	margin-bottom: 5px;
}
li{
	list-style-type:none;
}
.bas_page{
	margin-top : 20px;
	text-align: center;
	color: #F5F5F5;
	font-family : arial;
	font-size : 12px;
}
.image_centree{
	max-height: 250px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.video{
	margin-left: 200px;
	display: block;
}
.legend{
	font-size : 10px;
	font-style: italic;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.source{
	font-size : 9px;
	font-style: italic;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1px;
	text-align: left;
}
::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 7px;
}
::-webkit-scrollbar-thumb {
  background: #0f0f0a;
  border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
  background: ##c1c1ff;
}
iframe{
	margin-left: auto;
	margin-right: auto;
	width: 444px;
	height: 250px;
	display: block;
}
